* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
}

header > nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #001800, #94bb94);
}

div > ul {
    display: flex;
    list-style: none;
}

main {
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: white;
}

a > span {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

a > img {
    width: 30px;
}